{% render 'partials/head.liquid' %}

 <h1>{{ person.name }} </h1>
  <img src="Squad1H-Senne.JPG" alt="mugshot van Senne Brussel" width="120" height="180"/>
  <ul>
<li>Frontend Design and Development</li>
<li>vv Assendelft</li>
<li>Guidion</li>
<li>Assendelft</li>
  </ul>

{% render 'partials/foot.liquid' %}
