<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: "%d-%m-%Y %H:%M" }}</p>
<p>Geboortedatum: {{ person.birthdate | date: "%d-%m-%Y"}}</p>
<summary>Data</summary><pre>{{ person | json:4 }}</pre></details>